<div class="mr-5 ml-5 mt-5 mb-5">
    <div class="py-4 px-8 bg-grey shadow-lg rounded-lg my-20 w-full">
        <div>
            <h2 class="text-gray-800 text-3xl font-semibold times-font">Add new task</h2>
        </div>
        <div class="mt-2 py-4 px-4">
            <!-- <form class="form" [formGroup]="taskForm" >
                <input formControlName="taskName" type="text" class="form-control p-2 border-b-2 border-fuchsia-600 mr-2" placeholder="Task Name">
                <input formControlName="taskStartDate" type="date" class="form-control p-2 border-b-2 border-fuchsia-600 mr-2"
                    placeholder="Task Start Date">
                <input formControlName="taskEndDate" type="date" class="form-control p-2 border-b-2 border-fuchsia-600 mr-2"
                    placeholder="Task End Date">
                <select formControlName="taskParentId" class="form-control p-2 border-b-2 border-fuchsia-600 mr-2" placeholder="Select Parent task">
                   <option value="">Select one</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                
            </form> -->
            <button (click)="add()" class="bg-grey-500 hover:bg-grey-700 text-grey-800 font-bold py-2 px-4 border border-grey-700">
                Button
            </button>
            <button (click)="export()" class="bg-grey-500 hover:bg-grey-700 text-grey-800 font-bold py-2 px-4 border border-grey-700">
                export
            </button>
        </div>
    </div>
</div>
<!-- {{data | json}} -->
<div class="mr-5 ml-5 mt-5 mb-5">
    <div class="py-4 px-8 bg-grey shadow-lg rounded-lg my-20 w-full">
        <div>
            <h2 class="text-gray-800 text-3xl font-semibold times-font">Gantt Chart</h2>
        </div>
        <div class="mt-2 py-4 px-4" id="test" *ngIf="data && data.length > 0">
        <app-ej-gannt-chart [data]="data"></app-ej-gannt-chart>
        </div>
    </div>
</div>